h1,h2,h3,h4,h5,h6,
p,
ol,ul,
span,
small{
    padding: 0;
    margin: 0;

}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

/* menu section start */
nav{
    background-color: #02918b;
}
#my_menu ul li a{
    display: inline-block;
    padding: 23px 23px;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    transition: .6s;
}
#my_menu ul li a:hover{
    background-color: aqua;
    color: black;
}


/* menu section end */

/* banner section css start */
#banner{
    background-image: url(../img/MYFOLIO.jpg);
    height: 780px;
    background-size: cover;
    position: relative;
    z-index: 1;

}
#banner::after{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.6;
    background: black;

}
#banner .container{
    text-align: center;
    margin: auto;
}

#banner .container h1{
    text-transform: uppercase;
    font-size: 68px;
    color: white;
    letter-spacing: 20px;
    
}
#banner .container h5{
   
font-size: 30px;
    color: white;

}
#banner .container h6{
    color: white;
    font-size: 14px;
}
#banner .container a{
    display: inline-block;
    padding: 15px 15px;
    text-transform: uppercase;
    color: white;
    background-color: yellow;
    text-decoration: none;
    margin-top: 20px;
}
/* banner section css end */

/* about section css start */
.about_info{
    text-align: center;
    margin-top: 60px;
}
.about_info p{
    color: #bec0c3;
}
.about_info h2{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
}

.about_item{
    text-align: center;
    margin-top: 80px;
    border-right: 1px solid red;
}
.about_item:nth-child(4){
    border: none;
}
.about_item h6{
    margin-bottom: 50px;
    margin-top: 30px;
    color: #7e8287;
}

.about_item p{
    color: #bec0c3;
}



/* about section css end */

/* service section css start */

.sub_container{
    width: 50%;
}

#service{
    background-image: url(../img/MYFOLIO\ \(1\).jpg);
    
    
    background-size: cover;
    margin-top: 80px;
}
.service_info h2{
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 46px;
    color: #02918c;
    font-weight: 800;
}
.service_info img{
    padding-bottom: 30px;
}
.service_item{
    margin-top: 40px;
}

/* servicese section css end */

/* work section css start */
#my_work{
    margin-top: 30px;
}
#my_work .container{
    text-align: center;
}
#my_work .my-work h2{
    color: #02918c;
    font-size: 46px;
    font-weight: 800;
}
#my_work .my-work .p4{
    color: #7e8287;
    font-size: 16px;
    font-weight: 400;
}
.work_item{
    margin-top: 40px;
}


/* work section css end */